/bisindo/bisindoCLSTM_model/*
/bisindo/bisindoResLSTM_model/*
/bisindo/ResNet50_Conv/*
/bisindo/ResNet50_model/*
/bisindo/bisindo2.js
/images/clstm(fix).png
/images/model_lstm.png
/FaceRecognition/Model/*
/BisindoModel